<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Moo Chat Client</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="assets/js/ng-stomp.standalone.min.js"></script>
<script src="assets/js/controller.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body ng-app="mooChatDemo">
 <img src="assets/images/moo.png" /> mooo...
 <div id="loginPanel" ng-controller="MooConnectController">
  <input id="nickName" ng-model="usr.nickName" type="text" placeholder="nickname" ng-keyup="$event.keyCode === 13 && mooLogin()"/> 
  <input id="loginButton" type="button" ng-click="mooLogin()" value="Login" /> 
  <input id="logoutButton" type="button" ng-click="mooLogout()" value="Logout" />
 </div>
 <div class="liveChat" ng-controller="ChatMsgController">
  <ul>
   <li ng-repeat="evt in events">{{evt.dateTime}} [{{evt.author}}] <b>{{evt.message}}</b></li>
  </ul>
 </div>
 <div id="msgOutPanel" ng-controller="MooMsgController">
  <input id="msgOut" ng-model="usr.msg" type="text" placeholder="chat msg + ENTER" ng-keyup="$event.keyCode === 13 && mooMsg()" />
 </div>
</body>
</html>