.liveChat {
 color: green;
 width: 100%;
 height: 350px;
 border: solid 1px #E6E6E6;
 overflow-y: scroll;
 margin-top: 10px;
 }
li{
 list-style: none;
}
#login {
 width: 150px;
}
#loginPanel {
 padding: 5px;
 background-color: #F7F8E0;
 float:right;
}
#logoutButton {
 display: none;
}
#msgOutPanel {
 padding: 5px;
 background-color: #F6CECE;
}
#msgOut {
 width: 100%;
}
#msgOutPanel {
 display: none;
}
